<div class="container-fluid mt-5">
  <div class="row">
    <div class="col-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Recetas</h5>
          <p class="card-text">En esta sección tendrá acceso a las recetas y podrá crear, actualizar y borrar las mismas.</p>
          <a href="/recipes" class="btn btn-primary">Ir a Recetas</a>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Ingredientes</h5>
          <p class="card-text">En esta sección tendrá acceso a las Ingredientes y podrá crear, actualizar y borrar las mismas.</p>
          <a href="/ingredients" class="btn btn-primary">Ir a Ingredientes</a>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Unidades de Medida</h5>
          <p class="card-text">En esta sección tendrá acceso a las Unidades de Medida y podrá crear, actualizar y borrar las mismas.</p>
          <a href="/measure_units" class="btn btn-primary">Ir a Unidades de medidas</a>
        </div>
      </div>
    </div>
  </div>
</div>

