<div class="container mt-5">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h2>¿Qué cocinar?</h2>
          <br/>
          <form>
            <div class="row">
              <div class="col-12">
                <div class="field">
                  <label for="exampleFormControlInput1">Ingredientes que tienes en la despensa</label>
                  <%= select_tag  "ingredient_ids[]", options_from_collection_for_select(Ingredient.all, "id", "name"), title:"Ninguno seleccionado", :id => "ingredient", 
                    multiple: true, size: '8%', class: "form-control input-sm selectpicker border border-secondary", data: { 'live-search' => 'true' } %>
                </div>
              </div>
            </div>
            <br/>
            <div class="row">
              <div class="col-12">
                <div class="field">
                  <label for="exampleFormControlInput1">Categoría</label>
                  <%= select_tag "category_id", options_from_collection_for_select(Category.all, "id", "name"), 
                    size: '8%', class: "form-control input-sm selectpicker border border-secondary", data: { 'live-search' => 'true' }, 
                    title:"Ninguno seleccionado", :id=>"category" %>
                </div>
              </div>
            </div>
            <br/>
            <div class="actions">
              <button type="button" class="btn btn-primary search_recipes">Buscar Recetas</button>
            </div>
            <br/>
            <br/>
            <div class="card">
              <div class="card-body" id="cardContent">
                
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
$(document).ready(function() {
    $('*:not(.bootstrap-select) > .selectpicker').selectpicker('refresh');
});
</script>
<style>
.bootstrap-select .btn {
  background-color: #e0e0e0;
  border-style: solid;
  border-top: none;
  border-bottom: none;
  border-right: none;
  font-size: 16px;
  margin-bottom: 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.bootstrap-select .dropdown-menu {
  margin: 15px 0 0;
}
select::-ms-expand {
  display: none;
}
</style>