<div class="row mb-5">
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h4 class="header-title">Pautas Alimencias</h4>
        <div class="data-tables datatable-dark">
          <button id="btn-show-all-children" type="button" class="btn btn-primary"><i class="fa fa-expand "></i>&nbsp;&nbsp;Mostrar Detalles</button>
          <button id="btn-hide-all-children" type="button" class="btn btn-light"><i class="fa fa-compress"></i>&nbsp;&nbsp;Colapsar</button>
          <hr>
          <table id="dietary" class="display" cellspacing="0" width="100%">
            <thead>
              <tr>
                <th></th>
                <th>Tiempo</th>
                <th>Lunes</th>
                <%# <th>Martes</th>
                <th>Miercoles</th>
                <th>Jueves</th>
                <th>Viernes</th>
                <th>Sabado</th>
                <th>Domingo</th> %>
              </tr>
            </thead>
            <tfoot>
              <tr>
                <th></th>
                <th>Tiempo</th>
                <th>Lunes</th>
                <%# <th>Martes</th>
                <th>Miercoles</th>
                <th>Jueves</th>
                <th>Viernes</th>
                <th>Sabado</th>
                <th>Domingo</th> %>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  /* Formatting function for row details - modify as you need */
    function format ( d ) {
       return '<table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">'+
           '<tr>'+
               '<td>Preparación:</td>'+
               '<td>'+d.description+'</td>'+
           '</tr>'+
          //  '<tr>'+
          //      '<td>Extension number:</td>'+
          //      '<td>'+d.extn+'</td>'+
          //  '</tr>'+
          //  '<tr>'+
          //      '<td>Extra info:</td>'+
          //      '<td>And any further details here (images etc)...</td>'+
          //  '</tr>'+
       '</table>';
    }

   
  
  $(document).ready(function() {
    let data = <%= raw @recipes.to_json %>;
  
     var table = $('#dietary').DataTable({
  			"dom": '<"dt-buttons"Bf><"clear">lirtp',
        // dom:
        //     "<'row'<'col-sm-12 text-left d-flex justify-content-start'f>>" +
        //     "<'row'<'col-sm-12 text-right d-flex justify-content-end'B>>"+
        //     "<'row'<'col-sm-12'tr>>"+
        //     "<'row'<'col-sm-12 col-md-12'i><'col-sm-12 col-md-12 dataTables_pager'lp>>",
        buttons: [
          { extend: 'copy', text: 'Copiar' },
          { extend: 'excel', text: 'Excel' },
          { extend: 'pdf', text: 'PDF' },
          { extend: 'colvis', text: 'Ocultar columnas' },
          { extend: 'colvisRestore', text: 'Restaurar columnas' },
        ],
       "scrollY":        "160px",
       language: {
        "decimal": "",
        "emptyTable": "No hay información",
        "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
        "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
        "infoFiltered": "(Filtrado de _MAX_ total entradas)",
        "infoPostFix": "",
        "thousands": ",",
        "lengthMenu": "Mostrar _MENU_ Entradas",
        "loadingRecords": "Cargando...",
        "processing": "Procesando...",
        "search": "Buscar:",
        "zeroRecords": "Sin resultados encontrados",
        "paginate": {
            "first": "Primero",
            "last": "Ultimo",
            "next": "Siguiente",
            "previous": "Anterior"
        }
    },
          data: data,
         'columns': [
             {
                 'className':      'details-control',
                 'orderable':      false,
                 'data':           null,
                 'defaultContent': ''
             },
             { 'data': 'name' },
             { 'data': 'description' },
         ],
         'order': [[1, 'asc']]
     } );

     // Add event listener for opening and closing details
     $('#dietary tbody').on('click', 'td.details-control', function(){
         var tr = $(this).closest('tr');
         var row = table.row( tr );
  
         if(row.child.isShown()){
             // This row is already open - close it
             row.child.hide();
             tr.removeClass('shown');
         } else {
             // Open this row
             row.child(format(row.data())).show();
             tr.addClass('shown');
         }
     });

     // Handle click on "Expand All" button
     $('#btn-show-all-children').on('click', function(){
         // Enumerate all rows
         table.rows().every(function(){
             // If row has details collapsed
             if(!this.child.isShown()){
                 // Open this row
                 this.child(format(this.data())).show();
                 $(this.node()).addClass('shown');
             }
         });
     });
  
  
  
        table.buttons().container()
        .appendTo( '#dietary_wrapper .col-md-12:eq(0)' );
  });
</script>
<style>
  td.details-control {
      background: url('https://cdn.rawgit.com/DataTables/DataTables/6c7ada53ebc228ea9bc28b1b216e793b1825d188/examples/resources/details_open.png') no-repeat center center;
      cursor: pointer;
  }
  tr.shown td.details-control {
      background: url('https://cdn.rawgit.com/DataTables/DataTables/6c7ada53ebc228ea9bc28b1b216e793b1825d188/examples/resources/details_close.png') no-repeat center center;
  }
  .form-control {
    display: inline;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
</style>