<div class="container-fluid mt-5">
  <div class = "row">
    <div class = "col-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Recetas</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="/recipes" class="btn btn-primary">Ir a Recetas</a>
      </div>
    </div>
    </div>
    
    <div class = "col-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Ingredientes</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="/ingredients" class="btn btn-primary">Ir a Ingredientes</a>
      </div>
    </div>
    </div>

    <div class = "col-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Unidades de medida</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="/measure_units" class="btn btn-primary">Ir a Unidades de Medida</a>
      </div>
    </div>
    </div>


    </div>
 </div>
</div>
