<div class="container mt-5">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <p>
            <strong>Nombre de la receta:</strong>
            <%= @recipe.name %>
          </p>
          <p>
            <strong>Descripción:</strong>
            <%= @recipe.description %>
          </p>
          <%= link_to 'Editar', edit_recipe_path(@recipe) %> |
          <%= link_to 'Regresar', recipes_path %>
        </div>
      </div>
    </div>
  </div>
</div>
