<div class= "container">
<div class= "row">
<div class= "col">
<div class="card">
  <div class="card-body">
  <p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @ingredient.name %>
</p>

<%= link_to 'Edit', edit_ingredient_path(@ingredient) %> |
<%= link_to 'Back', ingredients_path %>
  
  </div>
</div>
</div>
</div>
</div>