
<div class="container">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <p>
            <strong>Nombre:</strong>
            <%= @ingredient.name %>
          </p>
          <%= link_to 'Editar', edit_ingredient_path(@ingredient) %> |
          <%= link_to 'Regresar', ingredients_path %>
        </div>
      </div>
    </div>
  </div>
</div>
