<h1>Bienvenidos a Mi Keto</h1>
<h2><%= current_user.first_name %>&nbsp;<%= current_user.last_name %></h2>
<% if user_signed_in? %>
<li>
<%= link_to('Logout', destroy_user_session_path, method: :delete) %>
</li>
<% else %>
<li>
<%= link_to('Login', new_user_session_path) %>
</li>
<% end %>