<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header">
          Información sobre Keto
        </div>
        <img src="<%= asset_path('photo_info_keto.jpg') %>" class="card-img-top" alt="...">
       
        <div class="card-body">
          <h5 class="card-title"> ¿En qué consiste la dieta Keto?</h5>
          <p class="card-text">Es una de las alternativas (seguida por muchos famosos) utilizadas para quemar grasas y perder peso rápidamente. A continuación te explicamos todo lo que tienes que saber sobre ella: en qué consiste, cómo afecta a tu organismo y un menú tipo.
            La dieta keto o cetogénica se basa en la ingesta de más alimentos ricos en grasas buenas y proteínas, como pescado azul, aguacate, aceite de coco y de oliva y una restricción de la ingesta de hidratos de carbono, como cereales, azúcar, e incluso algunas frutas y verduras.
            ¿Cuál es el objetivo? Te lo contamos. Consiste en generar el proceso de cetosis en sangre parecido al ayuno. De esta forma, se consigue que las reservas de grasa de tu cuerpo se convierten en cetonas que alimentan a los músculos y al cerebro frente a los carbohidratos.
            ¿Y el resultado? Se quema grasa y se pierde peso más rápidamente que otras dietas tradicionales. Una dieta tradicional tiene más o menos entre 5 y 10 veces más carbohidratos que ésta, pero la mitad de grasas y proteínas, que son las aliadas para adelgazar en esta dieta. A parte de incitar la movilización de ácidos grasos como fuente de energía en vez de hidratos, la dieta Keto también ayuda a saciar favoreciendo la reducción en la ingesta energética.
          </p>
          <h5 class="card-title mt-5">Alimentos Permitidos</h5>
          <p class="card-text">Los alimentos permitidos en la dieta cetogénica, o dieta keto, serán sobre todo grasos y con algo de proteínas. La lista será la siguiente:
          </p>
          <ul class="list-group">
            <li class="list-group-item">Vegetales con pocos carbohidratos: espinacas y en general las verduras de hoja verde, aguacate, pepino, coliflor, brócoli, espárrago, repollo, tomate, cebolla.</li>
            <li class="list-group-item">Pescado azul, rico en grasas poliinsaturadas: salmón, sardina, boquerón, caballa, trucha, atún, palometa, chicharro, bonito, pez espada.</li>
            <li class="list-group-item">Carne y embutidos: pollo y pavo, pero también puede comer carnes con grasa.</li>
            <li class="list-group-item">Huevos y mayonesa.</li>
            <li class="list-group-item">Productos lácteos grasos como la crema de leche, la mantequilla, queso de cabra, cheddar, mozzarella o yogurt sin azúcar.</li>
            <li class="list-group-item">Frutos secos y semillas: nueces, almendras, semillas de calabaza, semillas de chia.</li>
            <li class="list-group-item">Aceite de oliva virgen, aceite de coco y aceite de aguacate.</li>
            <li class="list-group-item">Sal, pimienta, especias, mostaza…</li>
          </ul>
          <h5 class="card-title mt-5">Alimentos Prohibidos</h5>
          <p class="card-text">En la dieta cetogénica deberán limitarse los siguientes alimentos ricos en carbohidratos:
          </p>
          <ul class="list-group">
            <li class="list-group-item">Frutas: contienen azúcares, en forma de fructosa, que es un carbohidrato.
              Las que más tienen y debe evitar: dátil, higo, uva, mango, cereza, plátano, mandarina y manzana.
              Las que menos tienen y puede ingerir de vez en cuando (de menos carbohidratos a más): limón, arándano, frambuesa, fresa, sandía, pomelo y melón.</li>
            <li class="list-group-item">Pan, pastas, harina, arroz.</li>
            <li class="list-group-item">Cereales: Los que más carbohidratos contienen son el trigo inflado, muesli, salvado de trigo, copos de arroz, trigo y cebada, Corn Flakes, y copos de avena.</li>
            <li class="list-group-item">Patatas.</li>
            <li class="list-group-item">Legumbres (lentejas, garbanzos, alubias, guisantes, judías, habas, frijoles)</li>
            <li class="list-group-item">Dulces y pasteles, repostería.</li>
            <li class="list-group-item">Bebidas gaseosas, azucaradas y zumos.</li>
            <li class="list-group-item">Alimentos procesados y comidas preparadas (a menudo con altos niveles de grasas no saludables y carbohidratos)</li>
          </ul>
          <h5 class="card-title mt-5">Beneficios de la dieta cetogénica.</h5>
          <ul class="list-group">
            <li class="list-group-item">Perder peso. Adelgazar</li>
            <li class="list-group-item">No es necesario contar las calorías, y es mucho más efectiva para perder peso esta dieta baja en carbohidratos que las dietas bajas en grasas.</li>
            <li class="list-group-item">Muchas personas que siguen este tipo de dieta para bajar de peso pierden más del doble de kilos que las que sólo siguen una dieta baja en calorías. Y les permite comer y mantener un peso saludable.</li>
            <li class="list-group-item">Puede combinarse con el ayuno intermitente, lo que acelera e intensifica la pérdida de peso.</li>
            <li class="list-group-item">Es más rápida para adelgazar que aquellas otras dietas basadas en ingerir alimentos ricos en proteínas y poca grasa.</li>
          </ul>
          <h5 class="card-title mt-5">Dieta cetogénica en la DIABETES</h5>
          <p class="card-text">La dieta keto beneficia a los diabéticos (Diabetes tipo 2) porque:
          </p>
          <ul class="list-group">
            <li class="list-group-item">reduce sus niveles de azúcar en sangre y los estabiliza.</li>
            <li class="list-group-item">reduce su peso y la grasa corporal.</li>
            <li class="list-group-item">mejora la sensibilidad a la insulina.</li>
            <li class="list-group-item">reduce el nivel de hemoglobina glicosilada (HbA1c).</li>
            <li class="list-group-item">reduce su riesgo de hipertensión arterial y enfermedad cardiovascular.</li>
            <li class="list-group-item">En la diabetes tipo 2, el sobrepeso y la obesidad, además de ser un inconveniente, son a menudo su causa.</li>
            <li class="list-group-item">Y la glucosa en sangre está elevada debido a que no puede ser utilizada convenientemente por las células porque presentan resistencia a la insulina, resistencia que mejora mucho con esta dieta.</li>
          </ul>
          <h5 class="card-title mt-5">Dieta cetogenica en el CÁNCER</h5>
          <p class="card-text">Algunos estudios han pretendido valorar si reduciendo el azúcar en la dieta se podría influir positivamente en el control del cáncer. Y parece que sí. En el cáncer, las células del tumor:
          </p>
          <ul class="list-group">
            <li class="list-group-item">se multiplican con mayor velocidad,</li>
            <li class="list-group-item">tienen un metabolismo energético acelerado, y</li>
            <li class="list-group-item">su consumo de glucosa (carbohidratos) es también mayor.</li>
            <li class="list-group-item">y apenas utilizan grasas o proteínas para obtener la energía necesaria para su crecimiento.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>