<%= params[:name] %>
<div class= "container mt-4">
  <div class= "row">
    <div class= "col">
      <div class="card">
        <div class="card-body">
          <h2>Nueva Categoría</h2>
          <%= render 'form', category: @category %>
          <%= link_to 'Regresar', categories_path %>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
</script>