<div class= "container mt-4">
  <div class= "row">
    <div class= "col">
      <div class="card">
        <div class="card-body">
          <h2>Nueva Unidad de Medida</h2>
          <%= render 'form', measure_unit: @measure_unit %>
          <%= link_to 'Regresar', measure_units_path %>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
</script>