<!DOCTYPE html>
<html>
    <head>
        <title>Autenticación</title>
        <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    </head>
<style>
.bg {
   background-color: #bcd9ea;

}
</style>
    <body class="bg">
        <%= yield %>
    </body>
</html>